<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Value Date- Near</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box_half input_element_color_secondary" />
    <input class="dropdown_input_box_half input_element_color_secondary" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Value Date- Far</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box_half input_element_color_secondary" />
    <input class="dropdown_input_box_half input_element_color_secondary" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Fixing Date- Near</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box_half input_element_color_secondary" />
    <input class="dropdown_input_box_half input_element_color_secondary" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Fixing Date- Far</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box_half input_element_color_secondary" />
    <input class="dropdown_input_box_half input_element_color_secondary" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Rate Near</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <div class="col-md-6 col-lg-6 mb-1">
      <input class="dropdown_input_box input_element_color_secondary" />
    </div>
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Rate Far</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <div class="col-md-6 col-lg-6 mb-1">
      <input class="dropdown_input_box input_element_color_secondary" />
    </div>
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Swap Points</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <div class="col-md-6 col-lg-6 mb-1">
      <input class="dropdown_input_box input_element_color_secondary" />
    </div>
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Notional- Near Date</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_secondary" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Notional- Far Date</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_secondary" />
  </div>
</div>
<hr />
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorPrimary"
    >Anchor Bank Side(Buy/Sell)</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box input_element_color_primary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorPrimary"
    >Anchor Bank Parent/Branch</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box_half input_element_color_primary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box_half input_element_color_primary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorPrimary"
    >Anchor Bank Trader</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box input_element_color_primary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
  </div>
</div>

<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorPrimary"
    >Anchor Bank Broker</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box_half input_element_color_primary" />
    <input class="dropdown_input_box_half input_element_color_primary" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorPrimary"
    >Anchor Bank Brokerage Rate</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_primary" />
  </div>
</div>
<hr />
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Near Bank Side(Buy/Sell)</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box input_element_color_secondary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Near Bank Parent/Branch</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box_half input_element_color_secondary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box_half input_element_color_secondary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Near Bank Trader</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box input_element_color_secondary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
  </div>
</div>

<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Near Bank Broker</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box_half input_element_color_secondary" />
    <input class="dropdown_input_box_half input_element_color_secondary" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Near Bank Brokerage Rate</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_secondary" />
  </div>
</div>
<hr />
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Far Bank Side(Buy/Sell)</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box input_element_color_secondary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Far Bank Parent/Branch</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box_half input_element_color_secondary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box_half input_element_color_secondary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Far Bank Trader</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <select
      class=""
      formControlName="Strategy"
      class="dropdown_input_box input_element_color_secondary"
    >
      <option value="" class="text-primary font-weight-bolder">
        --- Select Category ---
      </option>
    </select>
  </div>
</div>

<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Far Bank Broker</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box_half input_element_color_secondary" />
    <input class="dropdown_input_box_half input_element_color_secondary" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSecondary"
    >Far Bank Brokerage Rate</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_secondary" />
  </div>
</div>
<hr />
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSuccess"
    >Horizon Date</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_success" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSuccess"
    >Entry Date</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_success" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSuccess"
    >TimeStamp</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_success" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSuccess"
    >Deal ID</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_success" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSuccess"
    >Status</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_success" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSuccess"
    >Party Acceptence Status</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_success" />
  </div>
</div>
<div class="row">
  <label
    for="example-text-input"
    class="col-md-6 col-lg-6 mb-1 fontColorSuccess"
    >Settelement Type</label
  >
  <div class="col-md-6 col-lg-6 mb-1">
    <input class="dropdown_input_box input_element_color_success" />
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-6 col-lg-6 mb-1"></div>
  <div class="col-md-6 col-lg-6 mb-1">
    <button class="btn btn-outline-primary button_spacing">Save</button>
    <button class="btn btn-outline-success">Submit</button>
  </div>
</div>
